/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

* {
	margin: 0;
	padding: 0;
	}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff url('/images/robot_bg.png') bottom right no-repeat;
	background-attachment: fixed;
	}

#header_o {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #004;
	color: #fff;
	}
#header_i {
	overflow: hidden;
	position: relative;
	padding: 10px 25px;
	}
#header_i h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	margin-bottom: 0;
	margin-right: 40px;
	float: right;
	}
#header_i h1 a {
	color: #fff;
	text-decoration: none;
	}
#header_login {
	float: left; 
	}
#header_login a {
	color: #fff;
	}
	
#container_o {
	margin: 25px;
	}
#container_i {
	width: 800px;
	}
	
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h1, h2, h3, h4, p, ul, table {
	line-height: 1.5;
	margin-bottom: 10px;
	}
	
#pop_box {
	background: #eef;
	width: 500px;
	margin: 0 0 10px 0;
	padding: 10px 20px 5px 20px;
	}
#login_box table {
	margin: 0 10px;
	}

table td {
	padding-right: 10px;
	}

#new_project table {
	margin-bottom: 20px;
	}
#new_project .label {
	width: 150px;
	}
	
td.edit a {
	display: block;
	text-indent: -999999px;
	width: 16px;
	height: 16px;
	background: transparent url('/images/icons/pencil.png') 0 0 no-repeat;
	}
td.delete a {
	display: block;
	text-indent: -999999px;
	width: 16px;
	height: 16px;
	background: transparent url('/images/icons/trash.png') 0 0 no-repeat;
	}
	
#project_cols {
	width: 800px;
	overflow: hidden;
	position: relative;
	}
#project_col_left {
	width: 500px;
	float: left;
	}
#project_col_right {
	width: 250px;
	float: right;
	}
#project_col_right ul {	
	list-style: none;
	}
	
#project_col_left #update {
	background: #ddf;
	margin: 0 0 10px 0;
	padding: 10px 20px 5px 20px;
	}
#project_col_left #update .author {
	font-weight: bold;
	}
#project_col_left #update .date {
	font-style: italic;
	margin-left: 10px;
	font-size: 80%;
	}