<p>Hi <%= @resource.name %>, welcome to Offbott!</p>

<p>To confirm your account just the link below:</p>

<p><%= link_to 'Confirm my Offbott account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
